Paqueteria - cpmpleto/PaqueteriaWebTest/bin/
Paqueteria - cpmpleto/PaqueteriaWebTest/obj/
Paqueteria - cpmpleto/packages/
Paqueteria - cpmpleto/PaqueteriaWeb/obj/
Paqueteria - cpmpleto/PaqueteriaWeb/bin/
Paqueteria - cpmpleto/Paqueteria/bin/
Paqueteria - cpmpleto/Paqueteria/obj/
