<form class="form-horizontal">
   <!-- <div class="form-group">
        <label for="NExpedicion" class="col-sm-2 control-label">Nº Expedicion</label>
        <div class="col-sm-10">
            <input ng-disabled="form.NExpedicion" id="NExpedicion" class="form-control" ng-model="model.NExpedicion" type="text" name="NExpedicion">
        </div>
    </div>-->
    <div class="form-group">
        <label for="FmMrcancia" class="col-sm-2 control-label">Falta o no la mercancia</label>
      <div class="col-sm-10">
    <input type="checkbox" id="FMercancia" value="" ng-model="model.FMercancia" aria-label="...">
</div>
</div>
        <div class="form-group">
        <label for="RMercancia" class="col-sm-2 control-label">Esta rota o no la mercancia</label>
      <div class="col-sm-10">
    <input type="checkbox" id="RMercancia" value="" aria-label="...">
</div>
</div>
      <div class="form-group">
        <label for="Dmercancia" class="col-sm-2 control-label">Devolver la mercancia</label>
      <div class="col-sm-10">
    <input type="checkbox" id="Dmercancia" value="" aria-label="...">
</div>
</div>
        <div class="form-group">
        <label for="Amercancia" class="col-sm-2 control-label">Ausencia al entregar la mercancia</label>
      <div class="col-sm-10">
    <input type="checkbox" id="Amercancia" value="" aria-label="...">
</div>
</div>
    <div class="form-group">
        <label for="idenvio" class="col-sm-2 control-label">ID Envio</label>
        <div class="col-sm-10">
            <input ng-disabled="form.EnvioId" id="idenvio" class="form-control" type="text" ng-model="model.EnvioId" name="idenvio">
        </div>
    </div>
</form>
<div class="text-right">
    <button ng-show="LinkButtons.editaPaquete" class="btn btn-md btn-success" ng-click="editpaquete()">Editar Paquete</button>
    <button ng-show="LinkButtons.crearPaquete" class="btn btn-md btn-success" ng-click="createpaquete()">Crear Paquete</button>
    <a ng-show="LinkButtons.editarPaquete" class="btn btn-md btn-success" href="#/paquete/{{model.PaqueteId}}/editar"  >Editar</a>
    <button ng-show="LinkButtons.borrarPaquete" class="btn btn-md btn-danger" data-ng-really-click="borrarPaquete(model.PaqueteId)" data-ng-really-message="¿Está seguro de que desea borrar el paquete {{model.PaqueteId}}">Borrar</button>
    <a ng-show="LinkButtons.volver" class="btn btn-md btn-default" href="#/envio/{{model.EnvioId}}">Volver</a><br />
    
</div>

